<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org ">
<head>
<meta charset="UTF-8" />
<title>无线点餐平台</title>
<script type="text/javascript" src="style/js/jquery.js"></script>
<script type="text/javascript" src="style/js/page_common.js"></script>
<link href="style/css/common_style_blue.css" rel="stylesheet"
	type="text/css"></link>
<link rel="stylesheet" type="text/css" href="style/css/index_1.css"></link>
</head>
<body>
	addfoodList
	<form  th:action="@{'addFood.action?id='+${id}}"  method="post">
		<div id="TitleArea">
			<div id="TitleArea_Head"></div>
			<div id="TitleArea_Title">
				<div id="TitleArea_Title_Content">
					<img border="0" width="13" height="13"
						src="style/images/title_arrow.gif" /> 菜品列表
				</div>
			</div>
			<div id="TitleArea_End"></div>
		</div>




		<!-- 主内容区域（数据列表或表单显示） -->
		<div id="MainArea">
			<table class="MainArea_Content" align="center" cellspacing="0"
				cellpadding="0">
				<!-- 表头-->
				<thead>
					<tr align="center" valign="middle" id="TableTitle">
						<td>菜名</td>
						<td>所属菜系</td>
						<td>价格</td>
						<td>介绍</td>
						<td>操作</td>
					</tr>
				</thead>
				<!--显示数据列表 -->
				<tbody id="TableData">

					<!-- <tr class="TableDetail1">
				<td>1&nbsp;</td>
				<td>白灼虾&nbsp;</td>
				<td>粤菜&nbsp;</td>
				<td>36.0&nbsp;</td>
                <td>23.0&nbsp;</td>
				<td>
					<a href="#"  class="FunctionButton">更新</a>				
					<a href="#"  class="FunctionButton">删除</a>				
				</td>
			</tr> -->

					<th:block th:each="food:${foods}">

						<tr height="60">
							<td align="center"><span th:text="${food.fname}"></span>&nbsp;</td>
							<td align="center"><span th:text="${food.foodType.typename}"></span>&nbsp;</td>
							<td align="center"><span th:text="${food.price}"></span>&nbsp;</td>
							<td align="center"><span th:text="${food.message}"></span>&nbsp;</td>
							<td align="center"><input name="action" type="checkbox"
								th:value="${food.fid}" /></td>

						</tr>


					</th:block>




				</tbody>
			</table>

			<!-- 其他功能超链接 -->
			<div id="TableTail" align="right">
				<!-- class="FunctionButtonInput" -->
					<input type="submit" value="添加"   class="FunctionButtonInput" style="width: 200px"/>
				

			</div>
		</div>
	</form>
</body>
</html>