<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org ">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<script type="text/javascript" src="style/js/jquery.js"></script>
<script type="text/javascript" src="style/js/page_common.js"></script>
<link href="style/css/common_style_blue.css" rel="stylesheet" type="text/css"></link>
<link rel="stylesheet" type="text/css" href="style/css/index_1.css" ></link>
</head>
<body>
123
<!-- 页面标题 -->
	<div id="TitleArea">
		<div id="TitleArea_Head"></div>
		<div id="TitleArea_Title">
			<div id="TitleArea_Title_Content">
				<img border="0" width="13" height="13"
					src="style/css/images/title_arrow.gif" /> 订单菜品列表
			</div>
		</div>
		<div id="TitleArea_End"></div>
	</div>

	<!-- 主内容区域（数据列表或表单显示） -->
	<div id="MainArea">
		<table class="MainArea_Content" align="center" cellspacing="0" cellpadding="0">
			<!-- 表头-->
			<thead>
				<tr align="center" valign="middle" id="TableTitle">
					<td>菜名</td>
					<td>单价</td>
					<td>数量</td>
				</tr>
			</thead>
			<!--显示数据列表 -->
			<tbody id="TableData">
				
			 		
			 	 <th:block th:each="food:${foods}">
			 	 
			 	 <tr height="60">
				 		<td><span th:text="${food.fname}" ></span>&nbsp;</td>
				 		<td><span th:text="${food.price}" ></span>&nbsp;</td>
				 		<td><span th:text="${food.number}" ></span>&nbsp;</td>
				 		
				 		
			 		</tr>
			 	 
			 	 
			 	 </th:block>
			 	 <tr height="60"   align="center">
				 		
				 		<td colspan="3">您总共消费<span  th:text="${totalPrice}" ></span>元&nbsp;</td>
				 		
				 		
			 		</tr>
			 	 
			 	
			</tbody>
		</table>
		<!-- 其他功能超链接 -->
		<div id="TableTail" align="center">
			 <a href="boardListHtml.action" class="FunctionButton">返回</a>
			  <a th:href="@{'addFoodHtml.action?id='+${id}}" class="FunctionButton">继续添加</a>
			 <a th:href="@{'payBoard.action?id='+${id}}"  class="FunctionButton">结账</a>
		</div>
	</div>
</body>
</html>